.searchButton {
    width: 52px;
    height: 43px;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchButton.none {
    display: none;
}

.searchButton.white {
    border-radius: 8px;
    background-color: transparent;
    border: 2px solid #42bdfc;
}

.searchButton.blue {
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #00b4f4;
}


@media screen and (max-width: 425px) {
    .searchButton {
        width: 42px;
        height: 33px;
    }

    .searchButton img {
        width: 15px;
        height: 15px;
    }
}
