.filters__tags {
    /*margin: 10px 0;*/
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

.filters__tag_title {
    font-family: var(--inter-font);
    font-weight: 400;
    color: #686b6f;
    font-size: 20px;
    white-space: nowrap;
}
