.pTag {
    font-family: var(--inter-font);
    font-weight: 400;
    color: #686b6f;
    /*display: -webkit-box;*/
    /*-webkit-line-clamp: 4;*/
    /*overflow: hidden;*/
    /*-webkit-box-orient: vertical;*/
}

.font20 {
    font-size: 20px;
    line-height: 30px;
}
