.card {
    padding: 38px 38px 30px 38px;
    border: 1px solid #deedf4;
    box-shadow: 0 14px 20px 0 rgba(139,167,183,0.11);
    border-radius: 9px;
    background-color: #ffffff;
}

.card__header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 28px;
}

.card__image {
    border-radius: 5px;
}

.card__countryList {
    margin-top: 5px;
}

.card__country {
    font-family: var(--inter-font);
    font-size: 15px;
    font-weight: 400;
    color: #686b6f;
}

.card__description {
    margin-bottom: 35px;
}

.card__button {
    margin: 0 auto;
}
