.review__item {
    border: 1px solid #deedf4;
    box-shadow: 0 14px 20px 0 rgba(139,167,183,0.11);
    border-radius: 9px;
    background-color: #ffffff;
    padding: 30px 35px;
    max-width: 300px;
    width: 100%;
}

.review__item_content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

.review__item_text {
    font-family: var(--montserrat-font);
    font-weight: 700;
    color: #000000;
    font-size: 26px;
}

.review__item_button {
    padding: 12px 30px;
    width: 100%;
}

@media screen and (max-width: 425px) {

    .review__item {
        padding: 30px 20px;
    }
}
