.list__title {
    margin-bottom: 20px;
}

.ulList > li,
.olList > li {
    font-family: var(--inter-font);
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #686b6f;
    font-style: italic;
    position: relative;
}

.ulList > li {
    margin-left: 40px;
}

.ulList > li:not(:last-child) {
    margin-bottom: 10px;
}

.olList > li {
    margin-left: 38px;
}

.ulList > li:before {
    position: absolute;
    content: '';
    border-radius: 2px;
    width: 8px;
    height: 8px;
    background-color: #009dee;
    top: 9px;
    left: -22px;
}

.olList > li::marker {
    font-family: var(--inter-font);
    font-size: 18px;
    font-weight: 800;
    color: #009dee;
}

.olList {
    text-indent: 4px;
}

@media screen and (max-width: 768px) {
    .ulList > li,
    .olList > li {
        font-size: 18px;
        line-height: 22px;
    }

    .ulList > li:before {
        top: 8px;
    }
}
