.swiper-wrapper {
    /*max-width: calc(100vw - 40px) !important;*/
    /*padding-bottom: 30px;*/
    /*align-items: stretch !important;*/
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: start;
}

.swiper-slide {
    /*min-height: 100% !important;*/
    /*height: 100% !important;*/
    display: flex;
    justify-content: center;
}


.swiper-pagination {
    bottom: 0 !important;
}

@media screen and (max-width: 1024px) {
    .swiper-slide > div {
        max-width: 500px;
    }
}
