.filtersWrapper {
    border: 1px solid #deedf4;
    border-radius: 20px;
    background-color: #f1f8fb;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    padding: 40px 100px;
    grid-column: 1 / -1;
}

.filters__button {
    padding-top: 0;
    padding-bottom: 0;
    height: 100%;
}

@media screen and (max-width: 1400px) {
    .filtersWrapper {
        padding: 30px;
        gap: 30px;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .filtersWrapper {
        padding: 15px;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .filtersWrapper {
        grid-template-columns: 1fr;
    }

    .filters__button {
        padding: 14px 10px;
    }
}


