.head {
    padding-bottom: 55px;
    background-color: #ffffff;
}

.head__title {
    margin-bottom: 35px;
}

.head__logo {
    border: 2px solid #d5edfd;
    border-radius: 9px;
}

.description__title {
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 20px;
}

.description__hidden {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.description__full {
    color: #009dee;
    cursor: pointer;
}

.head__tags {
    display: flex;
    gap: 20px;
}

.head__logo {
    grid-area: logo;
}

.head__description {
    grid-area: description;
}

.head__tags {
    grid-area: tags;
}

.head__content {
    max-width: 1200px;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas: 'logo description'
                        'logo tags';
    gap: 30px;
    align-items: start;
}

.overview {
    padding: 55px 0;
    background-color: #f1f8fb;
}

.overview__title {
    margin-bottom: 30px;
}

.overview__content {
    display: grid;
    grid-template-columns: auto auto;
    align-items: start;
    gap: 20px;
}

.overview__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.overview__checkList{
    padding: 45px;
    border: 2px solid #009cee;
    border-radius: 9px;
    max-width: 392px;
    width: 100%;
}

.checkList__item {
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkList__item:not(:last-child) {
    margin-bottom: 25px;
}

.checkList__image {
    border-radius: 3px;

}

.checkList__text {
    font-family: var(--inter-font);
    font-size: 18px;
    font-weight: 500;
    color: #009dee;
}

.whoCan {
    background-color: #ffffff;
    padding: 55px 0 70px;
}

.whoCan__title {
    margin-bottom: 55px;
}

.whoCan__text {
    max-width: 1200px;
}

.review {
    background-color: #f1f8fb;
    padding: 55px 0;
}

.review__title {
    margin-bottom: 45px;
}

.review__list {
    display: flex;
    gap: 20px;
}

.relatedPlatforms {
    background-color: #f6fbf1;
    padding: 55px 0;
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}
