.textArea__label {
    font-family: var(--inter-font);
    font-size: 18px;
    font-weight: 400;
    color: #90a8b3;
    margin-bottom: 10px;
    display: block;
}

.textArea__input {
    background-color: #f1f8fb;
    border: 2px solid #cbdbe4;
    box-shadow: inset 0px 3px 7px 0px rgba(180,198,205,0.34);
    border-radius: 6px;
    transition: border 0.3s ease;
    width: 100%;
    min-height: 200px;
    font-family: var(--inter-font);
    font-size: 20px;
    line-height: 31px;
    font-weight: 400;
    color: #000000;
    padding: 20px;
    resize: none;
    position: relative;
}

.textArea__number {
    font-family: var(--inter-font);
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
    color: #c9cfd2;
    float: right;
}

.textArea__input:focus {
    border: 2px solid #009dee;
}

.textArea__input.error__input {
    border: 2px solid red;
}

.error {
    font-family: var(--inter-font);
    font-size: 14px;
    line-height: 31px;
    font-weight: 400;
    color: red;
}
