.head {
    padding-bottom: 50px;
    background-color: #ffffff;
}

.head__title {
    margin-bottom: 40px;
}

.head__text {
    margin-bottom: 45px;
    max-width: 1180px;
}

.whoCan {
    padding: 50px 0 70px;
    background-color: #ffffff;
}

.whoCan__title {
    margin-bottom: 45px;
}

.links {
    background-color: #f1f8fb;
    padding: 55px 0;
}

.links__button {
    margin: 0 auto;
}

.article {
    /*max-width: 1200px;*/
    /*margin: 40px auto;*/
    padding-bottom: 50px;
}

.article__text {
    margin-bottom: 15px;
    /*text-align: justify;*/
}

.article__text i {
    font-family: var(--inter-font);
    color: #009cee;
    font-style: italic;
    font-weight: 500;
}

.article__list {
    margin-bottom: 30px;
}

.article__section {
    margin-bottom: 20px;
}

.article__section_title {
    margin-bottom: 10px;
}

.article__section_subtitle {
    margin-bottom: 5px;
}

.article__section p:last-child {
    margin: 0;
}

.article__data {
    display: flex;
    align-items: center;
    gap: 10px 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.article__date {
    font-family: var(--inter-font);
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: #acb8c0;
}

.article__tags {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
    .article__text {
        text-align: justify;
    }
}


