.card {
    border: 1px solid #deedf4;
    box-shadow: 0 14px 20px 0 rgba(139,167,183,0.11);
    border-radius: 9px;
    padding: 35px;
    background-color: #ffffff;
}

.card__title,
.card__text {
    font-family: var(--montserrat-font);
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #000000;
}

.card__container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 25px;
    gap: 10px;
}

.card__text {
    font-weight: 700;
    font-size: 26px;
}
