.card {
    padding: 30px;
    border: 1px solid #deedf4;
    box-shadow: 0 14px 20px 0 rgba(139,167,183,0.11);
    border-radius: 9px;
    background-color: #ffffff;
    max-width: 384px;
    width: 100%;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    overflow: hidden;
}

.card__header {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 28px;
}

.card__image {
    border-radius: 5px;
}

.card__countryList {
    margin-top: 5px;
}

.card__country {
    font-family: var(--inter-font);
    font-size: 15px;
    font-weight: 400;
    color: #686b6f;
}

.card__description {
    margin-bottom: 35px;
    display: -webkit-box;
    -webkit-line-clamp: 8;
    overflow: hidden;
    -webkit-box-orient: vertical;
}

.card__button {
    margin: 0 auto;
}

.card__tags {
    margin-bottom: 35px;
}

@media screen and (max-width: 1650px){
    .card {
        max-width: none;
    }
}
