.countryList {
    background-color: #ffffff;
    padding: 55px 0;
}

.countryList__title {
    margin-bottom: 40px;
}

.countryList__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    margin-bottom: 40px;
    overflow: hidden;
    gap: 17px;
}

.countryList__item {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 4px 0;
}

/*.countryList__item:active {*/
/*    transform: scale(0.95);*/
/*}*/

.countryList__name {
    font-family: var(--inter-font);
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000000;
    position: relative;
    transition: all 0.3s ease-in-out;
}

.countryList__name:before {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 0;
    height: 2.5px;
    border-radius: 10px;
    background-color: #009dee;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.countryList__name:hover {
    color: #009dee;
}

.countryList__name:hover:before {
    width: 100%;
}

@media screen and (max-width: 1300px) {
    .countryList__list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .countryList__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 700px) {
    .countryList__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 450px) {
    .countryList__list {
        grid-template-columns: 1fr;
    }
}
