.reviews {
    padding: 55px 0;
    background-color: #f1f8fb;
}

.reviews__title {
    margin-bottom: 45px;
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1400px) {
    .reviews__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .reviews__list {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
