.head {
    padding-bottom: 50px;
    background-color: #ffffff;
}

.head__title {
    margin-bottom: 50px;
}

.head__text {
    margin-bottom: 45px;
    max-width: 1180px;
}


.reviews {
    padding: 55px 0;
    background-color: #f6fbf1;
}

.reviews__title {
    margin-bottom: 45px;
}

.reviews__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
    margin-bottom: 50px;
}

.whoCan {
    padding: 50px 0 70px;
    background-color: #ffffff;
}

.whoCan__title {
    margin-bottom: 45px;
}

@media screen and (max-width: 1650px) {
    .reviews__list {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1250px) {
    .reviews__list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .reviews__list {
        grid-template-columns: 1fr;
    }
}


