.breadCrumbs {
    display: flex;
    align-items: center;
    gap: 15px;
}

.text {
    font-family: var(--inter-font);
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #acb8c0;
    cursor: default;
}

.text:hover {
    color: #009dee;
    cursor: pointer;
}

.dash {
    width: 20px;
    height: 2px;
    background-color: #aeddf5;
}

.dash:last-child {
    display: none;
}

.text:last-of-type:hover {
    color: #acb8c0;
    cursor: default;
}
