.breadCrumbs {
    display: flex;
    align-items: center;
    gap: 0 15px;
    margin: 45px 0;
    flex-wrap: wrap;
}

.text {
    font-family: var(--inter-font);
    font-size: 18px;
    line-height: 32px;
    font-weight: 600;
    color: #009dee;
    cursor: default;
    transition: all 0.3s ease-in-out;
}

.text:hover {
    cursor: pointer;
}

.dash {
    width: 20px;
    height: 2px;
    background-color: #aeddf5;
}

.dash:last-child {
    display: none;
}

.text:last-of-type {
    color: #acb8c0;
}

.text:last-of-type:hover {
    cursor: default;
}

.text:hover:not(:last-of-type) {
    color: #acb8c0;
}

@media screen and (max-width: 425px) {
    .breadCrumbs {
        margin: 20px 0;
    }
}
