.tag {
    border: 2px solid #d5edfd;
    border-radius: 19.5px;
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 400;
    padding: 8px 14px;
    color: #009dee;
    white-space: nowrap;
}

.tag a {
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 400;
    color: #009dee;
    white-space: nowrap;
}
