.tag {
    border: 2px solid #d5edfd;
    border-radius: 19.5px;
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 400;
    padding: 8px 14px;
    color: #009dee;
    white-space: nowrap;
    background-color: #ffffff;
    cursor: pointer;
}

.tag a {
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 400;
    color: #009dee;
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
}

.tag:hover {
    background-color: #24b2fc;
}

/*.tag:hover {*/
/*    transition: all 0.3s ease-in-out;*/
/*    background-color: #24b2fc;*/
/*    border: 2px solid #24b2fc;*/
/*}*/

/*.tag:active {*/
/*    transform: scale(0.95);*/
/*}*/

.tag:hover a {
    color: #ffffff
}
