.switcher {
    position: relative;
}

.switcher__currentLang_wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.switcher__currentLang,
.switcher__langList_item {
    font-family: var(--inter-font);
    font-size: 19px;
    line-height: 25px;
    font-weight: 500;
    color: #090909;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.switcher__icon {
    transition: all 0.3s ease-in-out;
}

.switcher__icon.open {
    transform: rotate(180deg);
}

.switcher__langList {
    position: absolute;
    top: 37px;
    left: -3px;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    z-index: 200;
    background-color: #ffffff;
    overflow: hidden;
    height: 0;
    transition: all 0.3s ease-in-out;
}

.switcher__langList_open {
    height: 80px;
    padding: 10px 15px;
}

.switcher__langList_item:hover {
    color: #009dee;
}
