.tags {
    display: inline-flex;
    gap: 8px;
    align-items: center;
    flex-wrap: nowrap;
}

.tags.wrap {
    flex-wrap: wrap;
}

.tags:not(:last-child) {
    margin-bottom: 8px;
}

.tags__name {
    font-family: var(--inter-font);
    font-size: 14px;
    font-weight: 400;
    color: #686b6f;
}

.seeMore {
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 600;
    color: #009dee;
    background-color: transparent;
    white-space: nowrap;
}

.hidden {
    display: none;
}
